@media screen and (min-width:768px) {
    .logo {
        font-size: 15px;
        text-align: center
    }

    .logo::first-line {
        font-size: 25px;
        letter-spacing: normal
    }

    .num::before {
        content: url(../img/icon_phone.png);
        position: absolute;
        z-index: 1
    }

    .num a {
        margin-left: 35px
    }

    h2 {
        font-size: 50px;
    }
}