@media screen and (max-width:767px) {
    #buttons{
        padding: 35px 0 16px
    }
    #buttons button{
        display: none
    }
    #number{
        text-align: center
    }
    .slide{
        padding: 0 5px
    }
    .option{
        padding: 19px 9px
    }
    .cvest_h{
        font-size: 25px
    }
}