#backg_disck {
    position: relative;
    z-index: 1;
    max-width: 1900px;
    width: 85%;
}

#backg_disck img {
    width: 100%;
}

#gradient_disck {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 1) 85%);
    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 1) 85%);
    background: -o-radial-gradient(circle, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 1) 85%);
    background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0) 12%, rgba(0, 0, 0, 1) 85%);
}

.backg_black1 {
    overflow: hidden
}

.backg_black1>* {
    position: relative;
    z-index: 4
}

.backg_black1 .backg_red_a {
    margin: 0
}

.service {
    background: #FFF8F8;
}
.service p{
   color: #645D5D;
}
.service .backg_n_a {
    border: 1px solid #1D1C1C;
    color: #050505;
    font-family: Tenor Sans;
}

.for_what {
    margin-bottom: 36px
}

.for_what h3 {
    width: 60%;
    float: left;
    margin-left: 7px
}

.for_what img {
    width: 21%
}

.text_and_img {
    margin-bottom: 18px
}

.guarantee {
    margin-top: 50px
}

.num_g+p {
    font-size: 25px;
    font-weight: 600;
    line-height: 128%
}

.num_g {
    color: #F00;
    font-family: Montserrat;
    font-size: 55.641px;
    font-weight: 900;
    margin-right: 20px
}

#photo_colaazh {
    z-index: 1;
    max-width: 100vw
}

#photo_colaazh * {
    width: 100%;
    display: none;
    max-width: 100%
}

#find_out_price {
    background: #FFF8F8;
    z-index: 2;
    box-sizing: border-box;
    position: relative
}

#find_out_price p {
    margin-bottom: 24px
}

#find_out_price .big {
    font-weight: 800
}

#proeckts img {
    width: 100%;
    max-width: 900px
}

#proeckts a {
    margin-bottom: 20px
}

#plan,
.GAI {
    position: relative;
    overflow: hidden
}

.g_w {
    background: -moz-radial-gradient(rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 1) 69%);
    background: -webkit-radial-gradient(rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 1) 69%);
    background: radial-gradient(rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 1) 69%);
    background: -o-radial-gradient(rgba(250, 250, 250, 0) 0%, rgba(255, 255, 255, 1) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa", endColorstr="#ffffff", GradientType=1);
    position: absolute;
    inset: 0
}

.punckt img {
    width: 100%
}

.num_p {
    color: #858585;
    opacity: 0.15;
    font-weight: 900
}

.num_p+p {
    font-weight: 700;
    line-height: normal;
    align-self: center
}

#plan [class^="btn_carusel"] {
    font-size: 45px;
    background: #fff;
    width: 10%;
    height: 100%;
    padding: 30% 0;
    box-sizing: border-box;
    position: absolute;
    border: 0;
    z-index: 999
}

#plan .btn_carusel_prev {
    left: 0
}

#plan .btn_carusel_next {
    right: 0
}

.red.yes_b {
    color: #fff
}

#proeckt_form h2 {
    margin-bottom: 45px
}

#proeckt_form [type="text"] {
    border: 0;
    border-bottom: 1.212px solid #FFF;
    background: #000;
    color: #fff;
    width: max(45ch, 60%);
    max-width: 100%;
    padding-bottom: 11px
}

#proeckt_form form * {
    margin: 30px 0;
    display: block
}



#inputs {
    margin: 0
}

#proeckt_form textarea {
    border: 1.212px solid #FFF;
    background: #000;
    color: #fff;
    width: max(45ch, 60%);
    max-width: 100%;
    height: 150px;
    padding: 7px 14px;
    box-sizing: border-box
}

#proeckt_form .error {
    text-align: left;
}

#proeckt_form *::placeholder {
    color: rgba(255, 255, 255, 0.50);
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
}

.service_pluss .block_text {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px
}

.service_pluss h3 {
    font-weight: 700
}

.service_pluss li {
   font-size: 15.99px !important;
    list-style: none;
   max-width: 30ch;
    position: relative;
    margin-bottom: 17px;
}

.service_pluss ul {
    margin:20px 0 25px
}

.service_pluss li::before {
    content: "";
    display: inline-block;
    width: 12.5px;
    height: 12.5px;
    position: absolute;
    left: -18px;
    background-image: url(../../img/marker_disck.png);
    background-size: contain
}